<div class="row">
    <form novalidate class="form-horizontal" name="loginForm">
        <div class="col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
            <h1>Login</h1>
            <div class="form-group" data-ng-class="{ 'has-error': loginForm.username.$invalid}">
                <label class="control-label col-md-3">
                    Benutzer
                </label>

                <div class="col-md-9">
                    <input type="text" name="username" data-ng-model="login.username" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': loginForm.password.$invalid}">
                <label class="control-label col-md-3">
                    Password
                </label>

                <div class="col-md-9">
                    <input type="password" name="password" data-ng-model="login.password" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="loginForm.$invalid"
                            data-ng-click="login.login()">Login
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>