<div class="row">
    <div class="col-md-12">
        <h3>Neuer Benutzer</h3>
    </div>
</div>
<div class="row">
    <form novalidate class="form-horizontal" name="editForm">
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error': editForm.username.$invalid}">
                <label class="control-label col-md-3">
                    Benutzername
                </label>

                <div class="col-md-9">
                    <input type="text" name="username" data-ng-model="userCreate.user.username" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.email.$invalid}">
                <label class="control-label col-md-3">
                    E-Mail
                </label>

                <div class="col-md-9">
                    <input type="email" name="email" data-ng-model="userCreate.user.email" class="form-control"/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.firstname.$invalid}">
                <label class="control-label col-md-3">
                    Vorname
                </label>

                <div class="col-md-9">
                    <input type="text" name="firstname" data-ng-model="userCreate.user.firstname" class="form-control"/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.lastname.$invalid}">
                <label class="control-label col-md-3">
                    Nachname
                </label>

                <div class="col-md-9">
                    <input type="text" name="lastname" data-ng-model="userCreate.user.lastname" class="form-control"/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.password.$invalid}">
                <label class="control-label col-md-3">
                    Passwort
                </label>

                <div class="col-md-9">
                    <input type="password" name="password" data-ng-model="userCreate.user.password" class="form-control"/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.passwordConfirm.$invalid}">
                <label class="control-label col-md-3">
                    Passwort bestätigen
                </label>

                <div class="col-md-9">
                    <input type="password" name="passwordConfirm" data-ng-model="userCreate.passwordConfirm.lastname" class="form-control" data-compare-to="userCreate.user.password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <a href="#!/users" class="btn btn-danger">Abbrechen</a>
                    <button type="submit" class="btn btn-primary" data-ng-disabled="editForm.$invalid || userCreate.saving"
                            data-ng-click="userCreate.save()"><i data-ng-if="userCreate.saving" class="fa fa-spinner fa-spin"></i> Speichern
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>