<div class="row">
    <div class="col-md-12">
        <a href="#!/users" class="btn btn-default btn-sm">Zur Übersicht</a>
        <a href="#!/users/edit/{{::userDetail.user.id}}" class="btn btn-warning btn-sm">Bearbeiten</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>
            Benutzer {{::userDetail.user.username}}
        </h3>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Details
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        Benutzername
                    </dt>
                    <dd>
                        {{::userDetail.user.username}}
                    </dd>
                    <dt>
                        E-Mail
                    </dt>
                    <dd>
                        {{::userDetail.user.email}}
                    </dd>
                    <dt>
                        Vorname
                    </dt>
                    <dd>
                        {{::userDetail.user.firstname}}
                    </dd>
                    <dt>
                        Nachname
                    </dt>
                    <dd>
                        {{::userDetail.user.lastname}}
                    </dd>
                    <dt>
                        Letzer Login
                    </dt>
                    <dd>
                        {{::userDetail.user.lastlogin | date}}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

