<div class="row">
    <div class="col-md-12">
        <a href="#!/users" class="btn btn-default btn-sm">Zur Übersicht</a>
        <a href="#!/users/detail/{{::userEdit.user.id}}" class="btn btn-info btn-sm">Details</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Benutzer {{userEdit.user.username}}</h3>
    </div>
</div>
<hr />
<div class="row">
    <form novalidate class="form-horizontal" name="editForm">
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error': editForm.username.$invalid}">
                <label class="control-label col-md-3">
                    Benutzername
                </label>

                <div class="col-md-9">
                    <input type="text" name="username" data-ng-model="userEdit.user.username" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.email.$invalid}">
                <label class="control-label col-md-3">
                    E-Mail
                </label>

                <div class="col-md-9">
                    <input type="email" name="email" data-ng-model="userEdit.user.email" class="form-control"/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.firstname.$invalid}">
                <label class="control-label col-md-3">
                    Vorname
                </label>

                <div class="col-md-9">
                    <input type="text" name="firstname" data-ng-model="userEdit.user.firstname" class="form-control"/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.lastname.$invalid}">
                <label class="control-label col-md-3">
                    Nachname
                </label>

                <div class="col-md-9">
                    <input type="text" name="lastname" data-ng-model="userEdit.user.lastname" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="editForm.$invalid || userEdit.saving"
                            data-ng-click="userEdit.save(editForm)"><i data-ng-if="userEdit.saving" class="fa fa-spinner fa-spin"></i> Speichern
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>