<div class="row">
    <div class="col-md-12">
        <h1>Benutzer</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-2">
        <a href="#!/users/create" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> Neu</a>
    </div>
    <div class="col-xs-10">
        <form data-ng-submit="userList.search()">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input type="text" data-ng-model="searchterm" placeholder="Suchen" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="reset" class="btn btn-danger" data-ng-click="userList.reset()"><i class="glyphicon glyphicon-remove"></i></button>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" data-ng-if="userList.items.length <= 0">
            Keine Einträge
        </div>
        <data-list-users data-items="userList.items" data-edit="true" data-detail="true" data-delete="true"></data-list-users>
    </div>
</div>