<form class="form-horizontal" name="addForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Neuen Artikel hinzufügen</h3>
    </div>
    <div class="modal-body">

        <div class="form-group" data-ng-class="{ 'has-error': addForm.type.$invalid}">
            <label class="control-label col-md-3">
                Typ
            </label>

            <div class="col-md-9">
                <select name="type" data-ng-model="article.type"
                        data-ng-options="item as (item.name) for item in types track by item.value"
                        class="form-control" required>
                </select>
            </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': addForm.article.$invalid}">
            <label class="control-label col-md-3">
                Artikel
            </label>

            <div class="col-md-9">
                <select name="article" data-ng-model="article.article"
                        data-ng-options="item as (item.nr + ' - ' + item.name) for item in articles track by item.id"
                        class="form-control" required>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-class="{ 'has-error': addForm.amount.$invalid}">
            <label class="control-label col-md-3">
                Menge
            </label>

            <div class="col-md-9">
                <input type="number" name="amount" data-ng-model="article.amount" class="form-control" required/>
            </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': addForm.price.$invalid}">
            <label class="control-label col-md-3">
                Preis
            </label>

            <div class="col-md-9">
                <input type="number" name="price" data-ng-model="article.price" class="form-control" required/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="ok()" data-ng-disabled="addForm.$invalid || saving"><i data-ng-if="saving" class="fa fa-spin fa-spinner"></i>Hinzufügen</button>
        <button class="btn btn-default" type="button" ng-click="cancel()" data-ng-disabled="saving">Abbrechen</button>
    </div>
</form>