<div class="modal-header">
    <h3 class="modal-title">Servicevertrag löschen</h3>
</div>
<div class="modal-body">
    <p>Wollen Sie den Servicevertrag wirklich löschen?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="ok()" data-ng-disabled="deleting"><i data-ng-if="deleting" class="fa fa-spin fa-spinner"></i> Löschen</button>
    <button class="btn btn-default" type="button" ng-click="cancel()" data-ng-disabled="deleting">Abbrechen</button>
</div>