<div class="modal-header">
    <h3 class="modal-title">Artikel</h3>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>Typ</dt>
        <dd>{{article.displayType}}</dd>
        <dt>Artikel</dt>
        <dd><span article="{{article.article}}"></span></dd>
        <dt>Menge</dt>
        <dd>{{article.amount}}</dd>
        <dt>Preis</dt>
        <dd>{{article.price | currency}}</dd>
        <div data-ng-if="article.commission">
            <dt>Provision</dt>
            <dd><span commission="article.commission"></span></dd>
        </div>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Schließen</button>
</div>