.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green .panel-heading {
  color: #ffffff;
  background: #5cb85c;
  border-color: #5cb85c;
}
.panel-green a {
  color: #5cb85c;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
  color: #ffffff;
  background: #f0ad4e;
  border-color: #f0ad4e;
}
.panel-yellow a {
  color: #f0ad4e;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red .panel-heading {
  color: #ffffff;
  background: #d9534f;
  border-color: #d9534f;
}
.panel-red a {
  color: #d9534f;
}
