<div>
    <table class="table table-hover" data-ng-if="items.length > 0">
        <thead>
        <tr>
            <th></th>
            <th>Kunde</th>
            <th>Name</th>
            <th>Herstellung</th>
            <th>Nächste Abbrechnung</th>
            <th>Letztmöglicher Kündigungstermin</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="agreement in items">
            <td>
                <div data-service-active="agreement.active"></div>
            </td>
            <td><data-customer data-id="agreement.customer"></data-customer></td>
            <td>{{agreement.name}}</td>
            <td>{{agreement.setupdate | date }}</td>
            <td>{{agreement.nextbillingdate | date }}</td>
            <td>{{agreement.nextnoticedate | date }}</td>

            <td class="text-right">
                <div class="btn-group btn-group-xs">
                    <a href="#!/services/edit/{{agreement.id}}" class="btn btn-warning" data-ng-if="edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="#!/services/detail/{{agreement.id}}" class="btn btn-info"  data-ng-if="detail">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
