<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Artikel</th>
            <th>Typ</th>
            <th>Menge</th>
            <th>Preis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="item in items">
            <td><span article="{{item.id}}"></span></td>
            <td>{{::item.type}}</td>
            <td>{{::item.amount}}</td>
            <td>{{::item.price | currency}}</td>
            <td class="text-right">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-warning" data-ng-if="edit"
                            data-ng-click="openEditArticle(item.id)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-danger" data-ng-if="delete"
                            data-ng-click="deleteArticle($index, item.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" data-ng-click="openDetailArticle(item.id)" class="btn btn-info" data-ng-if="detail">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
