<div>
    <table class="table table-hover" data-ng-if="items.length > 0">
        <thead>
        <tr>
            <th>Benutzername</th>
            <th>E-Mail</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in items">
            <td>{{::user.username}}</td>
            <td>{{::user.email}}</td>
            <td>{{::user.firstname}} {{::user.lastname}}</td>
            <td class="text-right">
                <div class="btn-group btn-group-xs">
                    <a href="#!/users/edit/{{::user.id}}" class="btn btn-warning" data-ng-if="edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <button type="button" class="btn btn-danger" data-ng-if="delete"
                            data-ng-click="deleteUser($index, user.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <a href="#!/users/detail/{{::user.id}}" class="btn btn-info"  data-ng-if="detail">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
