<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{::prefix}}/">
            <span class="thin" data-ng-bind="title"></span>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="route in routes">
                <a data-ng-href="{{::prefix}}{{::route.path}}">{{::route.name}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-if="username">
            <li>
                <a href="javascript:void(0);" data-ng-click="logout()">Logout</a>
            </li>
        </ul>
        <p class="navbar-text navbar-right" data-ng-if="username">Eingeloggt als <strong>{{::username}}</strong></p>
    </div>
</nav>