<div class="row">
    <div class="col-md-12">
        <h3>Neuer Servicevertrag</h3>
    </div>
</div>
<div class="row">
    <form novalidate class="form-horizontal" name="editForm">
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error': editForm.name.$invalid}">
                <label class="control-label col-md-3">
                    Name
                </label>

                <div class="col-md-9">
                    <input type="text" name="name" data-ng-model="service.name" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.customer.$invalid}">
                <label class="control-label col-md-3">
                    Kunde
                </label>

                <div class="col-md-9">
                    <select name="customer" data-ng-model="service.customer"
                            data-ng-options="item as item.name for item in customers track by item.id"
                            class="form-control" required>

                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.description.$invalid}">
                <label class="control-label col-md-3">
                    Beschreibung
                </label>

                <div class="col-md-9">
                    <textarea name="description" data-ng-model="service.description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="active" data-ng-model="service.active"> Aktiv
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="prepayment" data-ng-model="service.prepayment"> Vorauszahlung
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error': editForm.setupdate.$invalid}">
                <label class="control-label col-md-3">
                    Herstellung
                </label>

                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup="dd.MM.yyyy" is-open="datepicker.setupdate"
                               name="setupdate" data-ng-model="service.setupdate" data-ng-blur="calcContractDate()"
                               class="form-control" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open('setupdate')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.interval.$invalid}">
                <label class="control-label col-md-3">
                    Interval
                </label>

                <div class="col-md-9">
                    <select name="interval" data-ng-model="service.interval"
                            data-ng-options="item as item.name for item in intervals track by item.id"
                            data-ng-blur="calcContractDate()" class="form-control" required>

                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.contractdate.$invalid}">
                <label class="control-label col-md-3">
                    Vertragsstart
                </label>

                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup="dd.MM.yyyy" is-open="datepicker.contractdate"
                               name="contractdate" data-ng-model="service.contractdate" class="form-control" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open('contractdate')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.invoicedate.$invalid}">
                <label class="control-label col-md-3">
                    Abrechnen ab
                </label>

                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup="dd.MM.yyyy" is-open="datepicker.invoicedate"
                               name="invoicedate" data-ng-model="service.invoicedate" class="form-control" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open('invoicedate')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.term.$invalid}">
                <label class="control-label col-md-3">
                    Laufzeit (Monate)
                </label>

                <div class="col-md-9">
                    <input type="number" name="term" data-ng-model="service.term" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.noticeperiod.$invalid}">
                <label class="control-label col-md-3">
                    Kündigungsfrist (Monate)
                </label>

                <div class="col-md-9">
                    <input type="number" name="noticeperiod" data-ng-model="service.noticeperiod" class="form-control"
                           required/>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    <a href="#!/services" class="btn btn-danger">Abbrechen</a>
                    <button type="submit" class="btn btn-primary" data-ng-disabled="editForm.$invalid || saving"
                            data-ng-click="save()"><i data-ng-if="saving" class="fa fa-spinner fa-spin"></i> Speichern
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>