<div class="row">
    <div class="col-md-12">
        <a href="#!/services" class="btn btn-default btn-sm">Zur Übersicht</a>
        <a href="#!/services/edit/{{::service.id}}" class="btn btn-warning btn-sm">Bearbeiten</a>
        <button type="button" class="btn btn-danger btn-sm" data-ng-click="open()">Löschen</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>
            {{::service.name}} <small>Vertrags-Nr. {{::service.id}}</small>
        </h3>
    </div>
    <div class="col-md-6" data-ng-if="service.linked">
        <p>Verknüpft mit <strong><a href="#!/services/detail/{{::service.linked.id}}">{{::service.linked.name}}</a></strong></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Details
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        Kunde
                    </dt>
                    <dd>
                        <data-customer data-id="service.customer"></data-customer>
                    </dd>
                    <dt>
                        Beschreibung
                    </dt>
                    <dd>
                        {{::service.description}}
                    </dd>
                    <dt>
                        Aktiv
                    </dt>
                    <dd>
                        {{::service.active}}
                    </dd>
                    <dt>
                        Vorauszahlung
                    </dt>
                    <dd>
                        {{::service.prepayment}}
                    </dd>
                    <dt>
                        Herstellung
                    </dt>
                    <dd>
                        {{::service.setupdate | date}}
                    </dd>
                    <dt>
                        Vertragsstart
                    </dt>
                    <dd>
                        {{::service.contractdate | date}}
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Abrechnung
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        Nächste Abbrechnung
                    </dt>
                    <dd>
                        {{::service.nextbillingdate | date}}
                    </dd>
                    <dt>
                        Letzte Abbrechnung
                    </dt>
                    <dd>
                        {{::service.lastbillingdate | date}}
                    </dd>
                    <dt>
                        Abrechnungsinterval
                    </dt>
                    <dd>
                        {{::service.interval}}
                    </dd>
                    <dt>
                        Abrechnen ab
                    </dt>
                    <dd>
                        {{::service.invoicedate | date}}
                    </dd>
                    <dt>
                        Laufzeit
                    </dt>
                    <dd>
                        {{::service.term }} Monate
                    </dd>
                    <dt>
                        Kündigungsfrist
                    </dt>
                    <dd>
                        {{::service.noticeperiod }} Monate
                    </dd>
                    <dt>
                        Nächster Kündigungstermin
                    </dt>
                    <dd>
                        {{::service.nextnoticedate | date }}
                    </dd>
                    <dt>
                        Kündigung aktiv mit
                    </dt>
                    <dd>
                        {{::service.noticedate | date }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Artikel
            </div>
            <div class="panel-body">
                <data-list-articles items="articles" service-id="service.id" detail="true"></data-list-articles>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="service.agreements.length > 0">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Verknüpfte Serviceverträge
            </div>
            <div class="panel-body">
                <data-list-services items="service.agreements" detail="true"></data-list-services>
            </div>
        </div>
    </div>
</div>
