<div class="row">
    <div class="col-md-12">
        <a href="#!/services" class="btn btn-default btn-sm">Zur Übersicht</a>
        <a href="#!/services/detail/{{service.id}}" class="btn btn-info btn-sm">Details</a>
        <button type="button" class="btn btn-danger btn-sm" data-ng-click="open()">Löschen</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>{{service.name}} <small>Vertrags-Nr. {{service.id}}</small></h3>
    </div>
</div>
<hr />
<div class="row">
    <form novalidate class="form-horizontal" name="editForm">
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error': editForm.name.$invalid}">
                <label class="control-label col-md-3">
                    Name
                </label>

                <div class="col-md-9">
                    <input type="text" name="name" data-ng-model="service.name" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.customer.$invalid}">
                <label class="control-label col-md-3">
                    Kunde
                </label>

                <div class="col-md-9">
                    <select name="customer" data-ng-model="service.customer"
                            data-ng-options="item as item.name for item in customers track by item.id"
                            class="form-control" required>

                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.description.$invalid}">
                <label class="control-label col-md-3">
                    Beschreibung
                </label>

                <div class="col-md-9">
                    <textarea name="description" data-ng-model="service.description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="active" data-ng-model="service.active"> Aktiv
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="prepayment" data-ng-model="service.prepayment"> Vorauszahlung
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" data-ng-class="{ 'has-error': editForm.setupdate.$invalid}">
                <label class="control-label col-md-3">
                    Herstellung
                </label>

                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup="dd.MM.yyyy" is-open="datepicker.setupdate"
                               name="setupdate" data-ng-model="service.setupdate" data-ng-blur="calcContractDate()"
                               class="form-control" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open('setupdate')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.interval.$invalid}">
                <label class="control-label col-md-3">
                    Interval
                </label>

                <div class="col-md-9">
                    <select name="interval" data-ng-model="service.interval"
                            data-ng-options="item as item.name for item in intervals track by item.id"
                            data-ng-blur="calcContractDate()" class="form-control" required>

                    </select>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.contractdate.$invalid}">
                <label class="control-label col-md-3">
                    Vertragsstart
                </label>

                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup="dd.MM.yyyy" is-open="datepicker.contractdate"
                               name="contractdate" data-ng-model="service.contractdate" class="form-control" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open('contractdate')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.invoicedate.$invalid}">
                <label class="control-label col-md-3">
                    Abrechnen ab
                </label>

                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup="dd.MM.yyyy" is-open="datepicker.invoicedate"
                               name="invoicedate" data-ng-model="service.invoicedate" class="form-control" required/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open('invoicedate')"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.term.$invalid}">
                <label class="control-label col-md-3">
                    Laufzeit (Monate)
                </label>

                <div class="col-md-9">
                    <input type="number" name="term" data-ng-model="service.term" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" data-ng-class="{ 'has-error': editForm.noticeperiod.$invalid}">
                <label class="control-label col-md-3">
                    Kündigungsfrist (Monate)
                </label>

                <div class="col-md-9">
                    <input type="number" name="noticeperiod" data-ng-model="service.noticeperiod" class="form-control"
                           required/>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary" data-ng-disabled="editForm.$invalid || saving"
                            data-ng-click="save()"><i class="fa fa-spinner fa-spin" data-ng-if="saving"></i> Speichern
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Artikel</h4>
        <data-list-articles items="articles" service-id="service.id" edit="true" delete="true" detail="true"></data-list-articles>
        <button type="button" class="btn btn-success btn-sm" data-ng-click="openAddArticle()">Neuer Artikel</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Verknüpfung</h4>
        <div data-ng-if="service.linked">
            {{service.linked.name}}
            <button type="button" class="btn btn-danger btn-sm" data-ng-click="deleteLink(service.id)">Löschen</button>
        </div>
        <div data-ng-if="!service.linked">
            <select data-ng-model="selected"
                    data-ng-options="item as item.name for item in linked track by item.id"
                    class="form-control">

            </select>
            <button type="button" class="btn btn-success btn-sm" data-ng-click="addLink(selected.id, service.id)">Hinzufügen</button>
        </div>
    </div>
</div>