<div class="row">
    <div class="col-md-12">
        <h1>Serviceverträge</h1>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-2">
        <a href="#!/services/create" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> Neu</a>
    </div>
    <div class="col-xs-2">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="displayInactive" data-ng-change="search()"/> Inaktive Verträge
                    inkludieren
                </label>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <form data-ng-submit="search()">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <input type="text" data-ng-model="searchterm" placeholder="Suchen" class="form-control"/>
                    <span class="input-group-btn">
                        <button type="reset" class="btn btn-danger" data-ng-click="reset()"><i
                                class="glyphicon glyphicon-remove"></i></button>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" data-ng-if="items.length <= 0">
            Keine Einträge
        </div>
        <data-list-services data-items="items" data-edit="true" data-detail="true"></data-list-services>
    </div>
</div>