@panel-green-color: #5cb85c;
@panel-yellow-color: #f0ad4e;
@panel-red-color: #d9534f;

//custom panel
.panel(@name, @bg-color, @font-color) {
  .panel-@{name} {
    border-color: @bg-color;

    .panel-heading {
      color: @font-color;
      background: @bg-color;
      border-color: @bg-color;
    }

    a {
      color: @bg-color;
    }
  }
}

.huge {
  font-size: 40px;
}

.panel(green, @panel-green-color, #ffffff);
.panel(yellow, @panel-yellow-color, #ffffff);
.panel(red, @panel-red-color, #ffffff);

